@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Arvo);
$title-font:'Poiret One', Arial,sans-serif;
$body-font:'Arvo', Arial,sans-serif;
$color-black:#000;
$color-white:#fff;
$color-fucsia:#b41859;
$color-green:#05a381;
$color-gray:#f2f2f2;
